<section id="section-about" class="section">
    <br><br><br>
    {{#if title}}
        <div class="container about-title">
            <h3>{{ title }}</h3>
            <hr>
        </div>
    {{/if}}
    <div class="container">
        <div class="about-content">
            <div class="row">
                <div class="col s12">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, illum cumque quos nisi quam totam blanditiis error dicta ex amet unde in ipsa! Soluta et quae sint qui enim quis quos aperiam harum debitis at. Repellendus ex soluta asperiores vel dignissimos quisquam beatae cum numquam quaerat reprehenderit, recusandae suscipit Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae, error tempora nisi aliquid accusamus corporis autem perferendis repellat optio maxime ipsam ex consectetur harum esse dolorum. Quisquam itaque vel cumque ducimus nesciunt doloribus, similique asperiores. Optio in at, ex quae, porro ea recusandae iusto, voluptas suscipit distinctio quo quia eaque.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, illum cumque quos nisi quam totam blanditiis error dicta ex amet unde in ipsa! Soluta et quae sint qui enim quis quos aperiam harum debitis at. Repellendus ex soluta asperiores vel dignissimos quisquam beatae cum numquam quaerat reprehenderit, recusandae suscipit Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae, error tempora nisi aliquid accusamus corporis autem perferendis repellat optio maxime ipsam ex consectetur harum esse dolorum. Quisquam itaque vel cumque ducimus nesciunt doloribus, similique asperiores. Optio in at, ex quae, porro ea recusandae iusto, voluptas suscipit distinctio quo quia eaque.
                    </p>
                </div>
            </div>
        </div>
        <hr>
        <footer class="footer section center">
            <p class="flow-text">NodeVille &copy; by MA.Rooney in 2k18</p>
        </footer>
    </div>
</section>