<section id="section-error" class="section">
    <br><br><br><br>
    {{#if title}}
        <div class="container register-title">
            <h4>{{ title }}</h4>
        </div>
    {{/if}}
    <div class="container">
        {{#if error}}
            <div class="card-panel error_msg">
                {{error}}
            </div>
        {{/if}}
    </div>
</section>