<header id="header-ville" class="header-ville-container">
    <div class="video-wrapper">
        <video src="/videos/clip_1.mp4" autoplay="true" loop="true" muted="true"></video>
    </div>
    <div class="header-overlay"></div>
    <div class="header-ville-content valign-wrapper">
        <div class="main-ville-content left">
            <h1>Let's Store Your Clients on Node Ville</h1>
            <p class="hide-on-small-and-down">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt consequatur ad, ducimus vero officiis dolorem in dolores esse rerum quis voluptatem nihil quisquam beatae.</p>
            <a href="#!" class="btn btn-large green darken-3 waves-effect waves-light">Get Started</a>
        </div>
    </div>
</header>