<header id="main-header" class="header-container">
    <div class="slider header-slider">
        <ul class="slides header-slides">
            <li>
                <img src="/images/img1.jpg" alt="" class="responsive-img">
                <div class="caption left-align header-content">
                    <h1>Everything You Need to Master Freelancing</h1>
                    <p class="hide-on-small-and-down">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat quo vitae ratione veniam porro! Deserunt nullan.
                        Quaerat quo vitae ratione veniam porro! Deserunt nullan.
                    </p>
                    <a href="#!" type="" class="btn green darken-2 waves-effect waves-light">Learn More</a>
                </div>
            </li>
            <li>
                <img src="/images/img2.jpg" alt="" class="responsive-img">
                <div class="caption right-align header-content">
                    <h1>Take Your Dream Vacation</h1>
                    <p class="hide-on-small-and-down">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat quo vitae ratione veniam porro! Deserunt nulla aliquid molestiae nobis qui.Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat quo vitae ratione veniam porro! Deserunt nulla aliquid molestiae nobis 
                    </p>
                    <a href="#!" type="" class="btn green darken-2 waves-effect waves-light">Learn More</a>
                </div>
            </li>
            <li>
                <img src="/images/img3.jpg" alt="" class="responsive-img">
                <div class="caption left-align header-content">
                    <h1>We Work With All Budgets</h1>
                    <p class="hide-on-small-and-down">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat quo vitae ratione veniam porro! Deserunt nulla aliquid molestiae nobis qui.Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat quo vitae ratione veniam porro! Deserunt nulla aliquid molestiae nobis 
                    </p>
                    <a href="#!" type="" class="btn green darken-2 waves-effect waves-light">Learn More</a>
                </div>
            </li>
            <li>
                <img src="/images/img4.jpeg" alt="" class="responsive-img">
                <div class="caption left-align header-content">
                    <h1>Helping Hands & Collaborating</h1>
                    <p class="hide-on-small-and-down">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat quo vitae ratione veniam porro! Deserunt nulla aliquid molestiae nobis Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat quo vitae ratione veniam porro! Deserunt nulla aliquid molestiae nobis 
                    </p>
                    <a href="#!" type="" class="btn green darken-2 waves-effect waves-light">Learn More</a>
                </div>
            </li>
            <li>
                <img src="/images/img5.jpg" alt="" class="responsive-img">
                <div class="caption right-align header-content">
                    <h1>Groups & Individual Getaways</h1>
                    <p class="hide-on-small-and-down">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat quo vitae ratione veniam porro! Deserunt nulla aliquid molestiae nobis Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat quo vitae ratione veniam porro! Deserunt nulla aliquid molestiae nobis 
                    </p>
                    <a href="#!" type="" class="btn green darken-2 waves-effect waves-light">Learn More</a>
                </div>
            </li>
        </ul>
    </div>
    <div class="header-overlay"></div>
</header>